body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
	background-color: rgb(113,30,30);
  display: flex;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

#root {
  flex: 1 1 0%;
  display: flex
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent!important;
}

a {
  text-decoration: none;
}
